*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.course{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border: #959595 2px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
.name{
    height: 50px;
    color: coral;
}
.time{
    display: flex;
    gap: 20px;
    margin: 0 auto;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 5px;
}
p{
    font-size: 20px;
}
ul{
    margin: 10px;
}
li{
    font-size: 18px;
}
